<div class='page-background'>
    <img src='assets/Images/backgrounds/abstract_polygonal/abstract_polygonal_sea_green.PNG'>
</div>
<div id="aboutUs" class="background-container">
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">
                        Our Team
                    </h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3" style="margin-right: 10%">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./src/assets/Images/person1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Michael Pagnotta</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-3" style="margin-right: 10%">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./src/assets/Images/person2.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">David Galeoto</p>
                                        </div>
                                    </div>  
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="./src/assets/Images/person3.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Jason Benninger</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>