<div class='page-background'>
</div>
<div class="container">
    <div class="row title-row text-center">
        <div class="col-sm-12">
            <h1 class="title"><b>Founders</b></h1>
        </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="card card-invisible card-profile text-center" style="width: 18rem;">
            <img class="card-img-top profilePic" src="assets/Images/person1.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Michael Pagnotta<br />
                    Title
                </p>
            </div>
        </div>  
    </div>
    <div class="row" style="justify-content: center">
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Michael Pagnotta<br />
                        Title
                    </p>
                </div>
            </div>
        </div>  
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person3.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Michael Pagnotta<br />
                        Title
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>
   <!--
    <div class="row title-row text-center">
        <div class="col-sm-12">
            <h1 class="title"><b>Staff</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row title-row text-center">
        <div class="col-sm-12">
            <h1 class="title"><b>Vendors</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
