<div class='page-background'>
    <img src='assets/Images/backgrounds/abstract_polygonal/abstract_polygonal_dark_blue.PNG'>
</div>
<div class='container'>
    <div id="worlds" class="background-container" *ngIf="view ==='worlds'">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-sm-1 nav-btn nav-btn-left">
                    <button *ngIf="pageIndex != 0" class="btn btn-default" (click)="navigateWorlds('left')"> 
                            <i class="fas fa-chevron-left"></i>
                    </button>
                </div>
                <div class="col">
                    <div class="card card-invisible text-center">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row search-container-right">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm transparent-input">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search our worlds">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"  *ngFor="let world of activeWorlds;">
                                        <div class="card card-world" style="margin-top: 5vh;" (click)="showProfile(world)">
                                            <img class="card-img-top" [src]="world.src" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text world-title center">
                                                    {{world.title}}
                                                </p>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 nav-btn nav-btn-right">
                    <button *ngIf="pageIndex * 6 + 6 <= worlds.length" class="btn btn-default" (click)="navigateWorlds('right')"> 
                        <i class="fas fa-chevron-right"></i>        
                    </button>
                </div>
            </div>
           
        </div>
    </div>
    <div id="profile" *ngIf="view === 'profile'">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col world-title">
                                    <h4> {{activeWorld.title}} </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col world-image">
                                    <img [src]="activeWorld.src">
                                    <br />
                                    <div class="world-info">
                                        <h5> Developer: </h5> {{ activeWorld.developer }} 
                                        <h5> Publisher: </h5>{{ activeWorld.publisher }} 
                                        <h5> Release Date: </h5> {{activeWorld.date}}
                                        <h5> Genre: </h5> {{activeWorld.genre}}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-sm-12 game-bio">
                                        <h4>Description</h4>
                                        <br />
                                        <p>
                                            {{activeWorld.bio}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="button" 
                                    class="btn btn-primary btn-return-to-worlds"
                                    (click)="showWorlds()">
                                        Worlds
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>