/*Invisible Card Style
.card-invisible {
    border: none;
    box-shadow: #61892f;
    background:transparent;
}
.card-invisible h1.card-title {
    color: white;
    font-weight: bold;
}
.card-invisible .card-text{
    color: white;
    font-weight: bold;
}*/
.title-emphasis {
    color: white;
}
.world-title{
    color: black;
}
.card-world:hover {
    border: 1px solid #116466;
    background: #116466;
}
.card-world:hover .card-text{
    color: white;
}
.transparent-input input{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}
.transparent-input span {
    background: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
}
.nav-btn{
    display: flex;
    align-items: center;
}
.nav-btn-right{
    justify-content: flex-end;
}
.nav-btn button{
    background: transparent;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 1.5rem;
}
.nav-btn button:hover{
    color: #22c7cb;
}
#profile{
    margin-top: 5vh;
}
.world-image img{
    height: 35vh;
}
.btn-return-to-worlds{
    float: right;
    background:  #1ca4a8;
}
.btn-return-to-worlds:hover{
    background: #116466;
}
.game-bio h4{
    border-bottom: 1px solid #1ca4a8;
}