.carousel-img{
    height: 50vh;
}
.carousel-text{
    text-align: center;
}
.carousel-text h5{
    color: #86C232
}
.carousel-text p{
    color:white
}
.card{
    border: 2px solid #86C232;
}
.card-link{
    color: #61892f;
    font-weight: bold;
}
.card-link-container{
    display: flex;
    justify-content: center;
}
.btn-invisible{
    background: transparent;
    border: none;
}
.neon-bold-green{
    color: #86C232
}
