.page-background {
    background: url('assets/Images/backgrounds/abstract_polygonal/abstract_polygonal_black.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.page-background-green-blue{
    background-color: #86C232;
    background-blend-mode: difference;
}
.page-background-darken {
    background-color: rgba(27, 34, 28, 0.432);
    background-blend-mode: screen;
}
.carousel-img{
    height: 50vh;
}
.carousel-text{ 
    text-align: center;
}
.carousel-text h5{
    color: #86C232
}
.carousel-text p{
    color:white
}
.card-neon-border{
    border: 2px solid #86C232;
}
/*Invisible Card Style*/
.card-invisible {
    border: none;
    box-shadow: #61892f;
    background:transparent;
}
.card-invisible h1.card-title {
    color: white;
    font-weight: bold;
}
.card-invisible .card-text{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.title-emphasis {
    font-size: 8rem;
}
.card-text>.container{
    padding-left: 0px;
}
/*
.card-text>.container>.row{
    justify-content: center;
}
.card-text>.container>.row>.col-sm-8{
    text-align: center;
}*/
.card-link{
    margin-top: 5vh;
    font-size: 1.5rem;
    color: #86C232;
    font-weight: bold;
}
.card-link:hover {
    color: #61892f;
}
.card-link-container{
    display: flex;
    justify-content: center;
}
.btn-invisible{
    background: transparent;
    border: none;
}
.neon-bold-green{
    color: #86C232
}
.experience-list p{
    color: white
}
