/* You can add global styles to this file, and also import other style files */
.page-container-flex{
    height: 88vh;
    display: flex;
    align-items: center;
}
.page-background{
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
}
.page-background>img{
    height: 100%;
    width: 100%;
}
.card-invisible {
    border: none;
    background:transparent;
}
.card-invisible h1.card-title {
    color: white;
    font-weight: bold;
}
.card-invisible .card-text{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.title-emphasis {
    font-size: 8rem;
}
