/* You can add global styles to this file, and also import other style files */
.page-background{
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
}
.page-background>img{
    height: 100%;
    width: 100%;
}
